# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

a = 65
b = 9.0
c = "AIIOT"
print(type(b))

<class 'float'>

# Multiple Assignments

In [2]:
a, b, c = 56, 80.0, "Hello"

In [3]:
a = b = c = "Jai" #assign the same value to multiple variables at once

# Storage Locations

In [4]:
x = 56
               
print(id(x))#print address of variable x

8791142865440

In [5]:
f = 45.65

print(id(f)) # print address of f variable

92800464

# Data Types

Every value in Python has a datatype. 

Data types are actually classes and variables are instance also knows as object of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category also can be defined as int, float and complex class in Python respectively.

Python uses the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [2]:
a12 = 58                               #data type is implicitly set to integer
print(a12, " is of type", type(a))

58  is of type <class 'int'>

In [3]:
_j5 = 90.2                            #data type is changed to float
print(a, " is of type", type(_j5))

65  is of type <class 'float'>

In [4]:
i = 4 + 5j                          #data type is changed to complex number
print(i, " is complex number?") 
print(type(i))
print(isinstance(4 + 5j, int))

(4+5j)  is complex number?
<class 'complex'>
False

# Boolean

 Boolean represents the truth values i.e.True or False

In [9]:
tu = True                        #a is a boolean type
print(type(tu))

<class 'bool'>

# Python Strings

String literals in python are surrounded by either single quotation marks, or double quotation marks.

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.  

Similar to C, the first character of a string has the index 0.

Blank spaces are also considered while indexing.

Indexing in python can be done in two ways such as from LHS index starts from 0 and from RHS it stsrts from -1.

In [11]:
d = "Hello! How may I help you?"
print(d)

Hello! How may I help you?

In [12]:
print(d[-1])
#last char s[len(s)-1] or s[-1]

?

In [13]:
#slicing
d[:4]

'Hell'

In [14]:
d[7:]

'How may I help you?'

In [16]:
d[8:]

'ow may I help you?'

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type. We can store any type of data in it.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [17]:
p = [80, 50.5, "World"]
print(p[2])               #print 1st index element

World

Lists are mutable, meaning, value of elements of a list can be altered i.e. we can change it.

In [18]:
p[1] = 20.4
print(p)

[80, 20.4, 'World']

# Python Tuple

Tuple is an ordered sequence of items same as list.

The only difference is that tuples are immutable i.e. We can't change it later. 

Tuples once created cannot be modified.

Items separated by commas are enclosed in ()brackets.

In [19]:
u = (56, 18.5, "AI")
print(type(u))

<class 'tuple'>

In [20]:
print(u[2]) #extract particular element

AI

In [21]:
u[0] = 125

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. In other words it is ramndomly collection of data of same type.

Set is defined by values separated by comma inside braces { }. 

Items in a set are not ordered.

In [22]:
k = {20, 40, 60, 80, 0}
print(k)

{0, 40, 80, 20, 60}

In [23]:
print(type(k))             #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [24]:
m = {50, 70, 70, 70, 10, 10}
print(m)                    #automatically set won't consider duplicate elements

{50, 10, 70}

In [25]:
print(m[0]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object is not subscriptable

# Python Dictionary

Dictionary is an unordered collection of key-value pairs which is separated by colon(:) in two sides. Left side indicates kay and right side indicates its respective value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In Python dictionaries, there should be compulsary combination of key and value. If in this, if one is missing, python can't accept it as dictionary.

In this, Key should be in single ('') quotation and its respectively value should be in double ("") quotation.

In [26]:
d = {'a': "animal", 'b': "borrow",'c':'40', 'd': "degree"}
print (d['a'],d['b'],d['c'], d['d'])

animal borrow 40 degree

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [27]:
float(9)     #convert interger to float using float() method

9.0

In [28]:
int(56.4)   #convert float to integer using int() method

56

In [29]:
str(809)      #convert integer to string

'809'

Conversion to and from string must contain compatible values.

In [30]:
int('45i')

ValueError: invalid literal for int() with base 10: '45i'

In [31]:
user = "Raj"
lines = "Good morning!"

print("Congratulations, " + user  + str( lines) )
#remove str and gives error

Congratulations, RajGood morning!

We can convert one sequence to other

In [32]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a) #convert list to set using set() method
print(a)
print(s)
print(type(s))      #now type of s is set

<class 'list'>
[1, 2, 3]
{1, 2, 3}
<class 'set'>

In [33]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']