# Examples

1] Program to print all keywords in Python

In [ ]:
import keyword

print (keyword.kwlist)

2] Program to print all keywods and total number of keywords in Python

In [ ]:
import keyword

print (keyword.kwlist)

print ("Total number of keywords are ", len(keyword.kwlist))

3] Program to understand identifiers

In [4]:
d = 4
print(d)

4

In [5]:
d12 = 5
print(d12)

5

In [6]:
_er = 14
print(_er)

14

In [7]:
_e_12 = 16
print(_e_12)

16

In [8]:
yield = 16
print(yield)

SyntaxError: invalid syntax (<ipython-input-8-196c112819f7>, line 1)

In [9]:
_ey_# = 199
print(_ey_#)

SyntaxError: unexpected EOF while parsing (<ipython-input-9-9db5408b1035>, line 2)

4] Program to understand for loop

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

5] program to apply range() function.

In [4]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [5]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [6]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

6] program to understand nested for loop.

In [7]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

7] Program to understand while loop.

In [8]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

8] PRogram to understand break statement.

In [9]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [84]:
i = 1

while True:
    print(i)
    i = i + 1
    if(i > 3):
        break

1
2
3

9] Program to understand continue statement.

In [10]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

10] Program to understand  if  statement.

In [13]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

Program to understand if-else statement.

In [14]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Program to understand if-else ladder.

In [15]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

If statement in one line.

In [16]:
if a > b: print("a is greater than b")

a is greater than b

If-else statement in one line.

In [17]:
print("A") if a > b else print("B")

A

If-else ladder statement in one line.

In [18]:
print("A") if a > b else print("=") if a == b else print("B")

A

In [1]:
#assign values to variables of different data types.
a = 10
b = 5.5
c = "ML"
print(type(b))

<class 'float'>

In [2]:
x = 3
               
print(id(x))#print address of variable x

140728705061760

In [3]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [4]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(type(a))
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
<class 'complex'>
True

In [5]:
a = True                        #a is a boolean type
print(type(a))

<class 'bool'>

In [6]:
s = "This is Online AI course"
print(s)

This is Online AI course

In [10]:
#slicing
s[:5]
print(s)

d = "This is Machine Learning."
d[7:]

This is Online AI course

' Machine Learning.'

In [11]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

In [12]:
t = (1, 1.5, "ML")
print(type(t))

<class 'tuple'>

In [13]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

In [14]:
    a = {10, 30, 20, 40, 5}
    print(a)

{5, 40, 10, 20, 30}

In [15]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [16]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object is not subscriptable

In [17]:
d = {'a': "apple", 'b': "bat",'c':'10.5'}
print (d['a'],d['b'],d['c'])

apple bat 10.5

In [25]:
float(5)     #convert interger to float using float() method

'20'

In [26]:
int(100.5)   #convert float to integer using int() method

100

In [27]:
str(20)      #convert integer to string

'20'

In [28]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

In [29]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a) #convert list to set using set() method
print(a)
print(s)
print(type(s))      #now type of s is set

<class 'list'>
[1, 2, 3]
{1, 2, 3}
<class 'set'>

In [30]:
print("Hello World")

Hello World

In [31]:
a = 10
print("The value of a is", a) #python 3
print ("The value of a is " + str(a))

The value of a is 10
The value of a is 10

In [32]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [33]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [34]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

In [35]:
num = input("Enter a number: ")
print (num)

Enter a number: 785
785

In [36]:
e, f = 10,20

print(e+f)  #Addition
print(e-f)  #Subtraction
print(e*f)  #Multiplication
print(e/f)  #Division
print(e%f)  #Modulo division
print(e//f) #Floor division
print(e**f) #Exponent

30
-10
200
0.5
10
0
100000000000000000000

In [37]:
d, j = 68, 87

print(d > j)   #greater than
print(d < j)   #less than 
print(d >= j)  #greater than equal to
print(d <= j)  #less the equal to
print(d == j)  #equal equal to
print(d != j)  #not equal to

False
True
False
True
False
True

In [38]:
x = 5
print(x)

x = 8
x += 3
print(x)

x =6
x *= 5
print(x)

5
11
30

In [39]:
c, d = True, False

print(c and d)
print(c or d)

False
True

In [40]:
arr = [10, 89, 67, 56]
#check 1 (element) is present in a given list or not
print(89 in arr)       

#check 5 is present in a given list
print(78 in arr)

True
False

In [41]:
d = {1: "a", 2: "b"}
print(1 in d)
print("a"in d)# only keys can be found out not its values

True
False

In [42]:
f = 34
d = 24
print(f is not  d)    #5 is object created once both a and b points to same object

#check is not

True

In [43]:
u = [19, 25, 32]# identity operator doesn not hold for tuples,lists,dictionaries etc
v = [89, 68, 57]
print(u is v)

False

In [44]:
a, b = 15, 4

print(a & b)  #Bitwise AND
print(a|b)    #Bitwise OR
print(a^b)    #Bitwise XOR
print(a>>b)   #Bitwise rightshift
print(a<<b)   #Bitwise Leftshift

4
15
11
0
240

In [45]:
eList = []

fir = ['hello', 'how', 'are', 'you?'] # list of strings

sec = [15, 23, 36, 49] #list of integers

thi = [[45, 34], [14, 79]] # list of lists

fou = [100, 'Raj', 16, 80.5] # list of different datatypes

print(fou)

[100, 'Raj', 16, 80.5]

In [46]:
al = ['sanjay', 'viru', 'chiku', 'pekka', 'wizard']

#find length of a list
print(len(al))

5

In [47]:
prt = ['HP', 'lenovo', 'dell', 'asus']

prt.append('macbook') # append will add the item at the end

print(prt)

['HP', 'lenovo', 'dell', 'asus', 'macbook']

In [48]:
#syntax: list-name.insert(val1, val2.....valn) 

di = ['as', 'sd', 'df']

di.insert(3, "fa") # will add element y at location x

print(di)

di = ['as', 'sd', 'df']

di.insert(2, "de") # will add element y at location x

print(di)

di = ['as', 'sd', 'df']

di.insert(0, "ds") # will add element y at location x

print(di)

['as', 'sd', 'df', 'fa']
['as', 'sd', 'de', 'df']
['ds', 'as', 'sd', 'df']

In [49]:
#syntax: list-name.remove(value) 

lap = ['hp', 'dell', 'lenovo', 'asus', 'inspiron']

lap.remove('asus') #it will remove first occurence of 'two' in a given list

print(lap)

['hp', 'dell', 'lenovo', 'inspiron']

In [50]:
car = ['alto', 'oddy', 'wagnor', 'city']

honda = ['i10', 'i20']

#append 
car.append(honda)

print(car)

['alto', 'oddy', 'wagnor', 'city', ['i10', 'i20']]

In [51]:
movie = ['ticket', 'cinema hall', 'friends']

snacks = ['popcorn', 'colddrinks']

#extend will join the list with list1

movie.extend(snacks)

print(movie)

['ticket', 'cinema hall', 'friends', 'popcorn', 'colddrinks']

In [52]:
#del to remove item based on index position

bucket = ['pickel', 'rice', 'utensils', 'cloths', 'perfume']

del bucket[0]
print(bucket)

#or we can use pop() method
noneed = bucket.pop(1)
print(noneed)

print(bucket)

['rice', 'utensils', 'cloths', 'perfume']
utensils
['rice', 'cloths', 'perfume']

In [53]:
#keyword 'in' is used to test if an item is in a list
bill = ['product', 'cash', 'billing', 'bag']

if 'cash' in bill:
    print('Payment by cash')
    
if 'creditcard' in bill:
    print('Payment by credit card')   

#keyword 'not' can combined with 'in'
if 'bag' not in bill:
    print('Must need carry bag for carrying product')

Payment by cash

In [54]:
#reverse is reverses the entire list

age = ['adult', 'young', 'teenager', 'child']

age.reverse();
    
print("Stages of life ",age);

Stages of life  ['child', 'teenager', 'young', 'adult']

In [55]:
#create a list with numbers
num = [6,5,4,3,8,9]

sort = sorted(num)


print("Sorted list :", sort)

#original list remain unchanged
print("Original list: ", num)

Sorted list : [3, 4, 5, 6, 8, 9]
Original list:  [6, 5, 4, 3, 8, 9]

In [56]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(num, reverse=True))

#orginal list remain unchanged
print("Original list :",  num)

Reverse sorted list : [9, 8, 6, 5, 4, 3]
Original list : [6, 5, 4, 3, 8, 9]

In [57]:
cvb = [13, 456, 'sfdf', 5.23, 1+2j]
print(cvb.sort()) # sort list with element of different datatypes.

TypeError: '<' not supported between instances of 'str' and 'int'

In [58]:
#let's take a string

greet = "Good, moring, how,are,you"
sp = greet.split(',')
print(sp)

['Good', ' moring', ' how', 'are', 'you']

In [59]:
price = [3000,5000,2340,7894]
print(price[2]) 
print(price[0])
#print last element using negative index
print(price[-1])
print(price[-3])

2340
3000
7894
5000

In [60]:
fee = [200,600,700,500,900,300,450]

#print all numbers
print(fee[:]) 

#print from index 0 to index 3
print(fee[2:5])

[200, 600, 700, 500, 900, 300, 450]
[700, 500, 900]

In [61]:
print (fee)
#print alternate elements in a list
print(fee[::2])


#print elemnts start from 0 through rest of the list
print(fee[2::2])

[200, 600, 700, 500, 900, 300, 450]
[200, 700, 900, 450]
[700, 900, 450]

In [62]:
roll = [10,20,30,40]
name = ['pekka', 'wizard', 'elite', 'archers']
combo = roll + name

print(combo)

[10, 20, 30, 40, 'pekka', 'wizard', 'elite', 'archers']

In [63]:
para = [1,2,0,1,2,5,7,9,2,7,5,3]

#frequency of 2 in a list
print(para.count(2))

#frequency of 0 in a list
print(para.count(0))

3
1

In [64]:
#loop through a list

tech = ['IoT', 'ML', 'AI', 'Robotics']

for lat in tech:
    print(lat)

IoT
ML
AI
Robotics

In [65]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
lit = [-45, -5, 7, 26, 54]

#create a new list with values doubled
new = [i*2 for i in lit]
print(new)

#filter the list to exclude negative numbers
new_ = [i for i in lit if i >= 0]
print(new_)


#create a list of tuples like (number, square_of_number)
new_d = [(i, i**2) for i in range(10)]
print(new_d)

[-90, -10, 14, 52, 108]
[7, 26, 54]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [67]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [68]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [70]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [71]:
#only parenthesis is not enough, we need a comma at the end
t = ('satish',)
type(t)

tuple

In [72]:
#only parenthesis is not enough, we need a comma at the end
t = ('satish',)
type(t)

tuple

In [73]:
#negative index
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')
print(t[-1]) #print last element in a tuple

brahma

In [74]:
#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [75]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [76]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [77]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

In [78]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [79]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

In [80]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [82]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

#get the smallest element in a tuple
print(min(t))

#get sum of elments in the tuple
print(sum(t))

9
1
23